.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}
.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido{
    background-color: lightcoral;
}
#mensagens-erro{
	color: red;
}

.fadeOut{
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela{
font-size: 16px;
width: 200px;
height: 35px;
margin-bottom: 10px;
}

.invisivel{
  display: none;
}
#erro-ajax{
color: red;
}
